@tailwind base;
@tailwind components;
@tailwind utilities;

a.active{
    background-color: #2d49bd;
    color: white;
}

:root {
    --body-background: white
    --title: black;
}


[data-theme='light'] {
    --body-background: white;
    --title: black;
}


[data-theme='dark'] {
    --body-background: rgb(52, 52, 52);;
    --title: white;
}